[Unit]
Description=Mount persistent controller storage on /nix
Requires=nix-storage.service
After=nix-storage.service
Before=local-fs.target
DefaultDependencies=no

[Mount]
What=/var/lib/nix
Where=/nix
Type=none
DirectoryMode=0755
Options=bind

[Install]
WantedBy=local-fs.target
